.info-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  margin-bottom: 7rem;
}

.title-form {
  font-weight: 500;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  user-select: none;
  margin-top: 2rem;
}

.info-p {
  font-size: 1.2rem;
  font-family: Poppins, sans-serif;
  user-select: none;
}
