.detalle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title-detalle {
  font-size: 1.5rem;
  font-family: Poppins, sans-serif;
}

.info {
  margin: 0.5rem;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  user-select: none;
  padding: 32px;
  border-radius: 16px;
  background-color: #AE8CA3;
}

.volver {
  font-family: Poppins, sans-serif;
  margin: 16px 32px;
  display: inline-block;
  padding: 8px 32px;
  background-color: #6F9283;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.volver:hover {
  background-color: #323a36;
}
