.advertencia {
  font-weight: 600;
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 30rem;
}

.card-favs {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
  margin-bottom: 16rem;
}

.borrar-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 1rem;
}

.borrar-button:hover {
  background-color: #cc0000;
}
