@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.card {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 16px;
  background-color: #AE8CA3;
}

.card-link {
  text-decoration: none;
}

.card:hover {
  transform: scale(1.10);
}

.imagen {
  width: 70%;
  max-height: 200px;
  margin: 10px;
  border-radius: 16px;
}

.name {
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #1D1E2C;
  margin-top: 10px;
  text-align: center;
}

.boton-card {
  margin-top: 15px;
  background-color: #6E44FF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-card:hover {
  background-color: #532ae8;
}

.boton-card-delete {
  margin-top: 15px;
  background-color: #EB4511;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-card-delete:hover {
  background-color: #cb3406;
}

.card.favorite {
  background-color: #eae1e8;
}

.mensaje-card {
  font-size: 1rem;
  font-family: Poppins, sans-serif;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.mensaje-card.added {
  background-color: #6F9283;
  color: #000;
}

.mensaje-card:not(.added) {
  background-color: #FC2F00;
  color: #fff;
}
