.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  border-radius: 16px;
  background-color: #AE8CA3;
  padding: 30px;

}

.formulario-input {
  font-size: 1.2rem;
  margin: 8px;
  border-radius: 8px;
}

::placeholder {
  padding: 8px;

}

.form-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px;
}

.form-button:hover {
  background-color: #45a049;
}

.error {
  font-family: Poppins, Arial, sans-serif;
  text-align: center;
  color: rgba(172, 22, 22, 0.884);
  font-size: 1.1rem;
}

.enviado {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(45, 106, 52);
  font-weight: bold;
  font-size: 1.1rem;
}
